<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bulma is included -->
<link rel="stylesheet" href="/assets/css/main.min.css">

<!-- Fonts -->
<link rel="dns-prefetch" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">

<style>
    ul li.is-active-item {
        background: #1c2027;
    }

    .dropdown-icon .icon {
        transition: all 0.3s ease-in-out;
    }

    .is-active .dropdown-icon .icon {
        transform: rotate(180deg);
    }

    i.fi {
        display: inline-flex;
    }

    .is-disabled {
        pointer-events: none;
        opacity: 0.6;
        cursor: not-allowed;
    }
</style>