{% extends "layouts/admin.html" %}

{% set pageTitle = 'User ' ~ user.getUsername() %}

{% block title %}{{ pageTitle }}{% endblock %}
{% set breadcrumbs = [{'title': 'User'}] %}
{% block pageHeading %}{{ pageTitle }}{% endblock %}

{% block content %}
<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            Profile
        </p>
    </header>
    <div class="card-content">
        <form method="post" action="/admin/users/{{ user.getId() }}">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Username</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input name="username" class="input {% if errors.username %}is-danger{% endif %}"
                                type="text" placeholder="username" value="{{ inputs.username ?? user.getUsername() }}">
                        </div>
                        {% if errors.username %}
                        <p class="help is-danger">
                            {{ errors.username }}
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Email</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input name="email" class="input {% if errors.email %}is-danger{% endif %}" type="text"
                                placeholder="email" value="{{ inputs.email ?? user.getEmail() }}">
                        </div>
                        {% if errors.email %}
                        <p class="help is-danger">
                            {{ errors.email }}
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Password <small>(Optional)</small></label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input name="password" class="input {% if errors.password %}is-danger{% endif %}"
                                type="text" placeholder="password" value="{{ inputs.password }}">
                        </div>
                        {% if errors.password %}
                        <p class="help is-danger">
                            {{ errors.password }}
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="control is-right">
                <button type="submit" class="button is-primary">
                    <span>Submit</span>
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}